.staff-list {
    width: 60%;
    margin: 70px auto;
    max-width: 1540px;
}

.staff-list__title {
    font-size: 24px;
    border-left: 5px solid #000;
    padding-left: 15px;
    margin-bottom: 50px;
}

.staff-list__table {
    width: 100%;
    background: #fff;
    border-radius: 10px;
}

.staff-list__table-head {
    height: 50px;
    text-align: center;
    border-bottom: 3px solid #ddd;
    color: #777;
    font-weight: bold;
}

.staff-list__table-description {
    height: 50px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    color: #777;
    font-weight: bold;
}

.staff-list__detail {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}