.attendance-list {
    width: 60%;
    margin: 70px auto;
    max-width: 1540px;
}

.attendance-list__title {
    font-size: 24px;
    border-left: 5px solid #000;
    padding-left: 15px;
    margin-bottom: 50px;
}

.attendance-list__month {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background: #fff;
    align-items: center;
    padding: 0 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.attendance-list__month a {
    text-decoration: none;
    color: #777;
}

.attendance-table {
    width: 100%;
    background: #fff;
    border-radius: 10px;
}

.attendance-table__header {
    color: #777;
    border-bottom: 3px solid #ddd;
    height: 50px;
    text-align: center;
}

.attendance-table__description {
    color: #777;
    border-bottom: 1px solid #ddd;
    height: 50px;
    text-align: center;
    font-weight: bold;
}

.attendance-table__detail {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.attendance__icon {
    width: 20px;
    height: 20px;
}

.attendance__icon-last {
    width: 18px;
    height: 18px;
}

.attendance__icon-next {
    width: 18px;
    height: 18px;
    transform: scaleX(-1);
}